.header-container{
    display: flex;
    justify-content: space-around;
}
.upload-file-container{
    background-color: #fcf9b8;
    padding: 14px;
    width: 300px;
    border-radius: 0.5rem;
}
.upload-file-text{
    text-align: -webkit-center;
    font-size: larger;
    padding-bottom: 10px;
    color: #986e98;
}
.search-container{
    align-self: center;
}

.topnav {
    overflow: hidden;
    
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    
  }
  